@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  background-color: #F4F4F4;
}
body.pb-100 {
  padding-bottom: 100px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input:focus {
  border-color: #254361;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.hidden {
  display: none !important;
}

@media (min-width: 400px) {
  .container {
    max-width: 100%;
    padding-inline: 16px;
  }
  .card .container {
    padding: 0;
  }
}
.space-y-20 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.space-y-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs {
  display: flex;
  padding: 4px;
  background: #E9E9E9;
  border-radius: 8px;
}
.tabs .tab-item {
  text-align: center;
  flex: 1;
  padding: 5px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  vertical-align: middle;
}
.tabs .tab-item.active {
  background: #fff;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 12px;
  position: relative;
  border: 1px solid transparent;
}
.search-box:focus-within {
  border-color: #254361;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: #303030;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.search-box input::placeholder {
  color: #9CA3AF;
}
.search-box .clear {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.search-box .clear.active {
  display: block;
}

.sort-boxes {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: -16px;
}
.sort-boxes::-webkit-scrollbar {
  display: none;
}
.sort-boxes .sort-item {
  padding: 7px 12px;
  border-radius: 8px;
  background: #FCFCFC;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  color: #303030;
  overflow: 0.4;
  flex: 1;
  white-space: nowrap;
}
.sort-boxes .sort-item.active {
  opacity: 1;
  color: #fff;
  background-color: #303030;
}

.status {
  padding: 4px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.3px;
}
.status--pending {
  color: #894B00;
  background-color: #FEF9C2;
}
.status--assigned {
  color: #520E92;
  background-color: rgba(89, 23, 149, 0.168627451);
}
.status--in-progress {
  color: #1D4EFA;
  background-color: #fff;
}
.status--ready {
  color: #2A9561;
  background-color: #fff;
}
.status--closed {
  color: #737373;
  background-color: rgba(230, 230, 230, 0.5019607843);
}

.header {
  padding: 19px 0;
}
.header__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.3490196078);
  margin-top: 6px;
  display: block;
}
.header__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .back-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
}
.header .header__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__btn {
  padding: 7px 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1019607843);
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  color: #303030;
  border-radius: 8px;
  height: 30px;
}
.header__btn.trash--primary {
  background: #920E10;
}
.header__btn.close--secondary {
  background: #fff;
}

.admin-header {
  padding: 16px 0;
}
.admin-header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-header__left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.admin-header__left .admin-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.admin-header__left .admin-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}
.admin-header__right {
  display: flex;
  gap: 12px;
}
.admin-header__right-action {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #CECECE;
}

.go-back {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #303030;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 0 32px 0;
  z-index: 999;
  background-color: #F4F4F4;
  max-width: 500px;
}

.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #fff;
  max-width: 500px;
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-panel__item {
  color: #6B7280;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 75px;
}
.bottom-panel__item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
}
.bottom-panel__item svg path {
  stroke: #6B7280;
}
.bottom-panel__item.active {
  color: #303030;
}
.bottom-panel__item.active::before {
  background-color: #303030;
}
.bottom-panel__item.active path {
  stroke: #303030;
}

button {
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  border: none;
}

.add-btn {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  padding: 13px;
  background: rgba(19, 53, 86, 0.031372549);
  border: 1.5px dashed rgba(19, 53, 86, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: rgba(48, 48, 48, 0.4);
  border-radius: 8px;
}

.btn {
  width: 100%;
  padding: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn.btn--black {
  color: #fff;
  background: #303030;
}
.btn.btn--black:active {
  background: linear-gradient(0deg, var(--primary, #303030), var(--primary, #303030)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.input-box .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.input-box .flex-box .form-label {
  margin-bottom: 0;
}
.input-box .flex-box .text-muted {
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #6B7280;
}

.form-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #6B7280;
  margin-bottom: 10px;
  display: block;
}

.form-input,
.form-textarea {
  border: 1px solid #D1D5DB;
  padding: 17px 12px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  border-radius: 8px;
  width: 100%;
}
.form-input::placeholder,
.form-textarea::placeholder {
  color: #C0C5CD;
}

.form-textarea {
  height: 100px;
  padding: 12px;
  resize: none;
}
.form-textarea::-webkit-scrollbar {
  display: none;
}

.phone-box {
  border: 1px solid #D1D5DB;
  padding: 0 12px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.phone-box:focus-within {
  border-color: #254361;
}
.phone-box .country-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.phone-box .country-box .country-code {
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #6B7280;
}
.phone-box .line {
  width: 1px;
  height: 20px;
  background: #D1D5DB;
}
.phone-box input {
  border: none;
  outline: none;
}

.custom-radio {
  border: 0.8px solid #D1D5DB;
  background: rgba(209, 213, 219, 0.3490196078);
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-radio.custom-checkbox {
  border-radius: 8px;
}
.custom-radio .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #303030;
  display: none;
}
.custom-radio .checked-img {
  display: none;
}

.radio-input {
  display: none;
}
.radio-input:checked + .custom-radio {
  background: #fff;
}
.radio-input:checked + .custom-radio .circle,
.radio-input:checked + .custom-radio .checked-img {
  display: block;
}

.date-box {
  border: 1px solid #D1D5DB;
  padding: 0 12px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

/*
Source - https://stackoverflow.com/a
Posted by Vitor Avanço
Retrieved 2026-01-22, License - CC BY-SA 4.0
*/
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.order-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.order-cards .card {
  height: 64px;
}

.card {
  padding: 20px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1019607843);
  background: #fff;
  position: relative;
}
.card .count {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: #303030;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #303030;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}
.card.center--content {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.card.center--content .icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.center--content .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.card.flex--card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__icon {
  width: 32px;
  height: 32px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.card .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card .flex-box .form-label {
  margin-bottom: 0;
}
.card .flex-box .text-muted {
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #6B7280;
}
.card__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-boxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.select-boxes .select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #D1D5DB;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.select-boxes .select-box.active {
  background-color: #303030;
  color: #fff;
}
.select-boxes .select-box.active .custom-radio {
  background: #fff;
}
.select-boxes .select-box.active .custom-radio .circle,
.select-boxes .select-box.active .custom-radio .checked-img {
  display: block;
}
.select-boxes .select-box__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 8px;
}
.select-boxes .select-box .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.select-boxes .select-box .icon {
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.select-boxes .select-box .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.select-boxes .select-box__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5019607843);
}

.select-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.select-cards .select-box {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  height: 76px;
}

.selected-images {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.selected-images .img-box {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}
.selected-images .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selected-images .img-box .remove {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6px;
  right: 6px;
}
.selected-images .img-box .remove img {
  width: 12px;
  height: 12px;
}

.notify-card {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notify-card.warning {
  background: rgba(146, 14, 16, 0.0509803922);
  border-color: rgba(146, 14, 16, 0.1019607843);
  color: #920E10;
}
.notify-card.active {
  background: rgba(254, 249, 194, 0.168627451);
  border-color: rgba(137, 75, 0, 0.2);
  color: #894B00;
}
.notify-card__left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.notify-card__left .icon {
  width: 20px;
  height: 20px;
}
.notify-card__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.task-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-cards .task-card {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 12px;
  border-radius: 8px;
  background: #fff;
}
.task-cards .task-card--closed > * {
  opacity: 0.5;
}
.task-cards .task-card.end-date {
  background: rgba(146, 14, 16, 0.0509803922);
  border: 2px solid rgba(146, 14, 16, 0.2);
}
.task-cards .task-card.end-date .task-card__date {
  background: #920E10;
  color: #fff;
  padding: 3px 4px;
  border-radius: 4px;
}
.task-cards .task-card.end-date .task-card__date img {
  filter: brightness(0) invert(1);
}
.task-cards .task-card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.task-cards .task-card__number {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #303030;
}
.task-cards .task-card__number span {
  color: #6B7280;
  font-weight: 300;
}
.task-cards .task-card__date {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5019607843);
}
.task-cards .task-card__date img {
  width: 16px;
  height: 16px;
}
.task-cards .task-card .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-cards .task-card .flex-box__left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.task-cards .task-card .flex-box__left span {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
.task-cards .task-card .flex-box__left img {
  width: 16px;
  height: 16px;
}
.task-cards .task-card__bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-cards .task-card__bottom-left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.task-cards .task-card__bottom-left span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #6B7280;
}

.assigned-page main {
  padding-bottom: 122px;
}
.assigned-page .space-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.assigned-page .switches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.assigned-page .switches .switch-box {
  padding: 16px 0;
  background: #F5F5F5;
  border: 1px dashed rgba(0, 0, 0, 0.1019607843);
  border-radius: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
}
.assigned-page .switches .switch-box.active {
  color: #fff;
  background-color: #303030;
}
.assigned-page .switches .add-issue__box {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 44px;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  grid-column: 1/span 2;
  padding: 0 12px;
  display: none;
}
.assigned-page .switches .add-issue__box.active {
  display: flex;
}
.assigned-page .switches .add-issue__box:focus-within {
  border-color: #254361;
}
.assigned-page .switches .add-issue__box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.assigned-page .switches .add-btn,
.assigned-page .switches .add-next {
  grid-column: 1/span 2;
}
.assigned-page .selected-images {
  margin-bottom: 10px;
}

.admin-dashboard__page header {
  margin-bottom: 4px;
}
.admin-dashboard__page .notify-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.admin-tasks__page .header .btn {
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.create-type__page {
  height: 100dvh;
}
.create-type__page .container {
  padding-top: 8px;
}
.create-type__page .create-type__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  height: calc(100dvh - 32px);
}

/*# sourceMappingURL=main.css.map */
