.card {
  padding: 20px 16px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px #0000001A;
  background: #fff;

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .form-label {
      margin-bottom: 0;
    }

    .text-muted {
      opacity: .5;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #6B7280;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

// select-boxes
.select-boxes {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D1D5DB;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;


    &.active {
      background-color: #303030;
      color: #fff;

      .custom-radio {
        background: #fff;

        .circle,
        .checked-img {
          display: block;
        }
      }

    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 8px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .icon {
      width: 20px;
      height: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    &__info {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #00000080;

    }

  }
}

.select-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .select-box {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    height: 76px;
  }
}

.selected-images {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  .img-box {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 16px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .remove {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #303030;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 6px;
      right: 6px;

      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}
