.order-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .card {
    height: 64px;
  }
}

.card {
  padding: 20px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #0000001A;
  background: #fff;
  position: relative;

  .count {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #303030;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #303030;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;

  }

  &.center--content {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;

    .icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
    }
  }

  &.flex--card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: 32px;
    height: 32px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .icon-box {
      display: flex;
      align-items: center;
      gap: 4px;

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }

    .form-label {
      margin-bottom: 0;
    }

    .text-muted {
      opacity: .5;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #6B7280;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

// select-boxes
.select-boxes {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D1D5DB;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    height: 69px;

    .btn--small {
      width: 40px;
      height: 30px;
      padding: 0;
      border: none;
    }

    &.circle-box {
      .select-box__title {
        font-size: 14px;
      }
    }

    &.active {
      background-color: #303030;
      color: #fff;

      .select-boxes__info {
        color: #FFFFFF80;
      }

      .custom-radio {
        background: #fff;

        .circle,
        .checked-img {
          display: block;
        }
      }

    }

    .select-boxes__info {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #00000080;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 8px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .icon {
      width: 20px;
      height: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;

      &.circle {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        overflow: hidden;

        img {
          object-fit: cover;
        }

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.select-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .select-box {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    height: 76px;
  }

  .select-box__title {
    margin-bottom: 0;
  }
}

.selected-images {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  .img-box {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 16px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .remove {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #303030;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 6px;
      right: 6px;

      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}

// notify-card
.notify-card {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.warning {
    background: #920E100D;
    border-color: #920E101A;
    color: #920E10;
  }

  &.active {
    background: #FEF9C22B;
    border-color: #894B0033;
    color: #894B00;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon {
      width: 20px;
      height: 20px;


    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
}

// task-cards
.task-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .task-card {
    box-shadow: 0px 1px 2px 0px #0000001A;
    padding: 12px;
    border-radius: 8px;
    background: #fff;

    &--closed {
      &>* {
        opacity: 0.5;
      }
    }

    &.end-date {
      background: #920E100D;
      border: 2px solid #920E1033;

      .task-card__date {
        background: #920E10;
        color: #fff;
        padding: 3px 4px;
        border-radius: 4px;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &__number {
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: #303030;

      span {
        color: #6B7280;
        font-weight: 300;
      }
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      color: #00000080;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .flex-box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__left {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          color: #303030;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    &__bottom {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-left {
        display: flex;
        align-items: center;
        gap: 6px;

        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 100%;
          color: #6B7280;
        }
      }
    }
  }
}

// photo-box
.photo-box {
  .form-label {
    margin-bottom: 10px;
  }

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    object-fit: cover;
  }
}

// flow-box
.flow-box {

  &__flex {
    display: flex;
    gap: 19px;
    align-items: stretch;
    margin-left: 7px;
  }

  &__line {
    width: 1px;
    background: #CECECE;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 27px;
  }

  .form-label {
    margin-bottom: 12px;
  }

  &__date {
    margin-bottom: 15px;
    display: block;
  }

  &__text-muted {
    color: #00000080;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: block;

    .pending-text {
      color: #894B00;
    }

    .assigned-text {
      color: #520E92;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #303030;
    }

    .circle {
      position: absolute;
      top: 0;
      left: -27px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #3030301A;
      display: flex;
      align-items: center;
      justify-content: center;

      &--pending {
        background: #FEF9C2;

        .dot {
          background: #894B00;
        }
      }

      &--assigned {
        background: #5917952B;

        .dot {
          background: #520E92;
        }
      }

      &--ready {
        background: #DAF0E5;

        .dot {
          background: #2A9561;
        }
      }

      &--in-progress {
        background: #DBEAFE;

        .dot {
          background: #1D4EFA;
        }
      }
    }
  }
}
