*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  background-color: #F4F4F4;

  &.pb-100 {
    padding-bottom: 100px;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input:focus {
  border-color: #254361;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.hidden {
  display: none !important;
}

@media (min-width: 400px) {
  .container {
    max-width: 100%;
    padding-inline: 16px;
  }

  .card {
    .container {
      padding: 0;
    }
  }
}

.space-y-20 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.space-y-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs {
  display: flex;
  padding: 4px;
  background: #E9E9E9;
  border-radius: 8px;

  .tab-item {
    text-align: center;
    flex: 1;
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    vertical-align: middle;

    &.active {
      background: #fff;
    }
  }
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #0000001A;
  padding: 12px;
  position: relative;
  border: 1px solid transparent;

  &:focus-within {
    border-color: #254361;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #303030;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    &::placeholder {
      color: #9CA3AF;
    }
  }

  .clear {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: none;

    &.active {
      display: block;
    }
  }
}

.sort-boxes {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: -16px;

  &::-webkit-scrollbar {
    display: none;
  }

  .sort-item {
    padding: 7px 12px;
    border-radius: 8px;
    background: #FCFCFC;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #303030;
    overflow: .4;
    flex: 1;
    white-space: nowrap;

    &.active {
      opacity: 1;
      color: #fff;
      background-color: #303030;
    }
  }
}

// status
.status {
  padding: 4px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.3px;

  &--pending {
    color: #894B00;
    background-color: #FEF9C2;
  }

  &--assigned {
    color: #520E92;
    background-color: #5917952B;
  }

  &--in-progress {
    color: #1D4EFA;
    background-color: #fff;
  }

  &--ready {
    color: #2A9561;
    background-color: #fff;
  }

  &--closed {
    color: #737373;
    background-color: #E6E6E680;
  }
}
