*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  background-color: #F4F4F4;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input:focus {
  border-color: #254361;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  max-width: 343px;
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.hidden {
  display: none !important;
}

@media (min-width: 400px) {
  .container {
    max-width: 100%;
    padding-inline: 16px;
  }

  .card {
    .container {
      padding: 0;
    }
  }
}
