.assigned-page {
  main {
    padding-bottom: 122px;
  }

  .space-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .switches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .switch-box {
      padding: 16px 0;
      background: #F5F5F5;
      border: 1px dashed #0000001A;
      border-radius: 100px;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;

      &.active {
        color: #fff;
        background-color: #303030;
      }
    }

    .add-issue__box {
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 44px;
      border: 1px solid #D1D5DB;
      border-radius: 8px;
      grid-column: 1 / span 2;
      padding: 0 12px;
      display: none;

      &.active {
        display: flex;
      }

      &:focus-within {
        border-color: #254361;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
      }
    }

    .add-btn,
    .add-next {
      grid-column: 1 / span 2;

    }
  }

  .selected-images {
    margin-bottom: 10px;
  }
}
