.return-card__page {
  padding-bottom: 20px;

  .header {
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__icon-box {
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        margin-top: 0;
      }
    }

    &__badge {
      padding: 3px 6px;
      background: #737373;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      color: #FFFFFF;
      width: fit-content;
    }

    &__calendar-box {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 6px;
    }

    &__calendar {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #00000059;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;

      span {
        color: #00000080;
      }

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }
  }

  .card {
    .flex-box {
      margin-bottom: 0;
    }
  }

  .select-box {
    height: 56px;
    padding-block: 0;

    .icon {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .select-box__title {
      font-size: 14px;
      margin-top: 2px;
    }

    .select-boxes__info {
      font-size: 12px;
      color: #29292959;
      margin-top: 4px;
    }
  }

  .delivery-cards {
    .delivery-card {
      border-bottom: 0;

      &:last-child {
        border-bottom: 1px dashed #0000001A;
      }
    }
  }

  .delivery-card {
    padding: 12px 10px;
    border-radius: 8px;
    border: 1px dashed #0000001A;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__group {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      flex-direction: row;

      .badge-group {
        margin-top: 12px;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 11px;
      line-height: 140%;
      color: #00000059;
    }

    &__box {
      display: flex;
      align-items: center;
      gap: 6px;

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }

      span,
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #303030;
      }

      a {
        color: #2E84D7;
        border-bottom: 1px dotted #2E84D7;
      }
    }

  }
}
