.header {
  padding: 19px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
  }

  .header__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn {
    padding: 7px 12px;
    box-shadow: 0px 1px 2px 0px #0000001A;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #303030;
    border-radius: 8px;
    height: 30px;

    &.trash--primary {
      background: #920E10;
    }

    &.close--secondary {
      background: #fff;
    }
  }
}
